# === FRONTEND ===
# React (Node.js)

speech-ai-frontend/node_modules/
**/node_modules/
speech-ai-frontend/build/
speech-ai-frontend/.env.local
speech-ai-frontend/.env.development.local
speech-ai-frontend/.env.test.local
speech-ai-frontend/.env.production.local
speech-ai-frontend/.parcel-cache/
speech-ai-frontend/.next/
speech-ai-frontend/.turbo/

# logs
speech-ai-frontend/npm-debug.log*
speech-ai-frontend/yarn-debug.log*
speech-ai-frontend/yarn-error.log*

# === BACKEND ===
# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3

# Environment
.env
.venv/
venv/
env/
ENV/

# Media files
media/
*.mp3
*.wav
*.mp4
*.avi
*.mov
*.flac
*.webm
*.ogg
*.jpg
*.jpeg
*.png
*.gif

whisper-backend/uploads
whisper-backend/outputs


# IDE & OS Files (common)
.DS_Store
.idea/
.vscode/
*.swp
*.bak
*.tmp
Thumbs.db
**/__MACOSX/
**/._*
